/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/
body {
	background-color: #fff;
}

/*********************************************************************************/
/* navigator                                                                     */
/*********************************************************************************/
#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 250px;
	height: 100%;
	color: #fff;
	background: #123555 url('images/overlay.png');
	box-shadow: inset -0.25em 0 0.25em 0 rgba(0,0,0,0.125);
	text-align: right;
}
	#header .top {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
	}

		#header .title {
			font-size: 1.5em;
			margin-top: 10px;
		}

			#header .title div{
				margin-top: 10px;
				padding-top: 10px;
			}

		#header .portrait {
			float: left;
		}

		#header .navs {
			padding-right: 1em;
			list-style-type: none;
			z-index: 100;
		}

		#nav
		{
		}

			/* ???? how to make the hover occupy the whole sidebar?????*/
			/*#nav ul li {
				padding-left: 2em;
			}

			#nav ul li:hover {
				background-color: #E1EED2;
			}*/

			#nav ul li a {
				display: block;
				padding: 0.5em 0.5em 0.5em 2em;
				color: rgba(255,255,255,0.65);
				text-decoration: none;
				outline: none;
				border: none;
				-moz-transition:none;
				-webkit-transition:none;
				-o-transition:none;
				-ms-transition:none;
				transition: none;
			}

			#nav ul li a span {
				position: relative;
				display: block;
				font-size: 1.2em;
				padding-right: 4px;
				/*border-left: 3px solid #E1EED2;*/
			}

				#nav ul li a span:before {
					position: absolute;
					left: 0;
					color: #091A29;
					text-align: center;
					width: 1.25em;
				}

			/*#nav ul li a.active {
				background: rgba(0,0,0,0.15);
				box-shadow: inset 0 0 0.25em 0 rgba(0,0,0,0.125);
				color: #fff;
			}

				#nav ul li a.active span {
				}

					#nav ul li a.active span:before {
						color: #DBD0A7;
					}*/

			#nav ul li a span:hover {
				visibility: visible;
				color: #E1EED2;
				border-right: 2.5px solid #E1EED2;
				-moz-transition:color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-webkit-transition:color 0.35s ease-in-out;
				-ms-transition:color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

	#header .bottom {
		position: absolute;
		left: -1em;
		bottom: 1.7em;
		width: 100%;
	}

		#header .icons {
			font-size: 1em;
			margin: 0 1.2em 1em 0.5em;
			text-align: center;
			list-style-type: none;
		}

			#header .bottom ul {
				list-style-type: none;
				/*padding: 0;*/
			}

			#header .bottom ul li {
				float: left;
				padding: 0;
			}

			#header .bottom ul li a {
				/*display: block;*/
				padding: 0.5em 0.8em;
				color: rgba(255,255,255,0.4);
				text-decoration: none;
				outline: none;
				border: none;
				-moz-transition:none;
				-webkit-transition:none;
				-o-transition:none;
				-ms-transition:none;
				transition: none;
			}

			#header .icon ul li a.active i.before {
				color: #E1EED2;
			}

			#header .icons a:hover {
				color: #E1EED2;
				-moz-transition:color 0.35s ease-in-out;
				-o-transition: color 0.35s ease-in-out;
				-webkit-transition:color 0.35s ease-in-out;
				-ms-transition:color 0.35s ease-in-out;
				transition: color 0.35s ease-in-out;
			}

	#logo {
		position: relative;
		margin: 1.75em 1.5em 1.5em 1.5em;
		min-height: 48px;
		cursor: default;
	}

		#logo h1 {
			position: relative;
			color: #fff;
			font-weight: 600;
			font-size: 1em;
			line-height: 1em;
		}

		#logo .byline {
			position: relative;
			display: block;
			font-size: 0.6em;
			color: rgba(255, 255, 255, 0.5);
			margin: 0.5em 0 0 0;
		}

		#logo .image {
			position: relative;
			left: 0;
			top: 0;
		}

/*********************************************************************************/
/* table                                                                         */
/*********************************************************************************/
#main .diary {
	margin-left: 15%;
	margin-top: 5%;
	position: relative;
}

table{
	align-content: center;
	width: 70%;
	border-collapse: collapse;
}

th, td {
	padding: 12px;
	text-align: left;
	border: 1px solid white;
	/*border-radius: 10px;*/
}

/*ridus border*/
th:first-child {
	border-top-left-radius: 13px;
}

th:last-child {
	border-top-right-radius: 13px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 13px;
}

tr:last-child td:last-child {
	border-bottom-right-radius: 13px;
}

/*colour setting*/
th{
	background-color: #D1494E ;
	color: white;
}

/*??? how to apply gradient on table???*/
tr:nth-child(odd) {
	background-color: rgba(225,238,210,0.8);
	/*background-color: -webkit-linear-gradient(to bottom, #E1EED2 80%, #DBD0A7 80%, #E69B03 80%);
	background-color: -moz-linear-gradient(to bottom, #E1EED2 80%, #DBD0A7 80%, #E69B03 80%);
	background-color: linear-gradient(to bottom, #E1EED2 80%, #DBD0A7 80%, #E69B03 80%);*/
}

tr:nth-child(even) {
	background-color: rgba(219,208,167,0.6);
}

/*hover setting*/
tr:hover {
	background-color: rgba(230,155,3,0.5);
}



/*********************************************************************************/
/* main                                                                          */
/*********************************************************************************/

#main {
	margin-left: 242;
}

	h2, h3, p {
		margin-bottom: 22px;
	}

	h1 {
		font-size: 14px;
	}

	table caption {
		font-size: 28px;
		padding-bottom: 0.5em;
	}

	#main .poem {
		padding-top: 5em;
		padding-left: 3em;
		float: right;
		margin-right: 8em;
	}

	/*??? how to make the picture centered ???*/
	#main #container a {
		display: block;
		margin-left: 30px;
	}

	#header .title {
		font-family: Georgia;
	}

	#nav span {
		font-family: Palatino Linotype;
	}

	table caption {
		font-family: Comic Sans MS;
	}


/*	#main .cite {
		padding-left: 10em;
		float: right;
	}*/

/*********************************************************************************/
/* pictures                                                                      */
/*********************************************************************************/
.pics {
	width: 80%;
	height: 60%;
	margin: 10% auto;
	position: relative;
}

	.pics img {
		padding: 10px 10px 15px;
		background: #fff;
		border: 1px solid #DBD0A7;
		position: absolute;
		-webkit-transition: 1s;
		-moz-transition: 1s;
		transition: 1s;
		z-index: 1;
		width: 25%;
	}

	/*define the action of hover*/
	.pics img:hover {
		-webkit-transform:rotate(0deg);
		-moz-transform:rotate(0deg);
		transform: (0deg);
		-webkit-transform:scale(1.5);
		-moz-transform:scale(1.5);
		transform: scale(1.5);
		box-shadow: 15px 15px 20px rgba(50,50,50,0.4);
		z-index: 2;
	}


	/*position each picture*/
		.pics .pic1 {
			top: 40%;
			left: 70%;
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			transform: rotate(15deg);
		}

		.pics .pic2 {
			top: -20%;
			left: 20%;
			-webkit-transform: rotate(-10deg);
			-moz-transform: rotate(-10deg);
			transform: rotate(-10deg);
		}

		.pics .pic3 {
			top: 20%;
			left: 45%;
			-webkit-transform: rotate(-15deg);
			-moz-transform: rotate(-15deg);
			transform: rotate(-15deg);
		}

		.pics .pic4 {
			top: -20%;
			left: 70%;
			-webkit-transform: rotate(30deg);
			-moz-transform: rotate(30deg);
			transform: rotate(30deg);
		}

		/*.pics .pic5 {
			top: -10%;
			left: 50%;
			-webkit-transform: rotate(8deg);
			-moz-transform: rotate(25deg);
			transform: rotate(8deg);
		}*/

		.pics .pic6 {
			top: -30%;
			left: 45%;
			-webkit-transform: rotate(15deg);
			-moz-transform: rotate(15deg);
			transform: rotate(15deg);
		}

		/*.pics .pic7 {
			top: 30%;
			left: 5%;
			-webkit-transform: rotate(25deg);
			-moz-transform: rotate(25deg);
			transform: rotate(25deg);
		}

		.pics .pic8 {
			top: 10%;
			left: -10%;
			-webkit-transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}

		.pics .pic9 {
			top: 45%;
			left: 20%;
			-webkit-transform: rotate(2deg);
			-moz-transform: rotate(2deg);
			transform: rotate(2deg);
		}*/

		.pics .pic10 {
			top: 20%;
			left: 25%;
			-webkit-transform: rotate(40deg);
			-moz-transform: rotate(40deg);
			transform: rotate(40deg);
		}

		.pics .pic11 {
			top: -40%;
			left: 80%;
			-webkit-transform: rotate(-5deg);
			-moz-transform: rotate(-5deg);
			transform: rotate(-5deg);
		}

		.pics .pic12 {
			top: -25%;
			left: -5%;
			-webkit-transform: rotate(25deg);
			-moz-transform: rotate(25deg);
			transform: rotate(25deg);
		}

		.pics .pic13 {
			top: 40%;
			left: 5%;
			-webkit-transform: rotate(-10deg);
			-moz-transform: rotate(-10deg);
			transform: rotate(-10deg);
		}

		.pics .pic14 {
			top: 15%;
			left: -10%;
			-webkit-transform: rotate(2deg);
			-moz-transform: rotate(2deg);
			transform: rotate(2deg);
		}

/*********************************************************************************/
/* footer                                                                        */
/*********************************************************************************/
#footer {
	position: absolute;
	bottom: 0px;
	margin-left: 242px;
	text-align: center;
	background-color: #cad6bd;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 31.7%;
	padding-right: 31.7%;
	/*margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 31.7%;
	margin-right: 31.7%;*/
	font-size: 0.8em;
	box-shadow: inset 0 1px 0 0 rgba(0,0,0,0.05), inset 0 0.1em 0.1em 0 rgba(0,0,0,0.025);
}

	#footer .copyright {
		line-height: 1.25em;
	}

		#footer .copyright .p {
			margin: 0 0 1em 0;
		}
/***********************************************************************************/
footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: Palatino Linotype;
	background-color: #E1EED2;
	margin-left: 250;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 
	box-shadow: 10px -10px 25px 0px rgba(0,0,0,0.15);
	display: block;
	text-align: center;
}

	footer p {
		margin-top: 5px;
		margin-bottom: 5px;
	}